button {
	background-color: #4CAF50;
	color: rgb(57, 57, 57);
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #45a049;
}

.close-btn {
	border-radius: 5px;
	background-color: red;
	color: beige;
}

.ui {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	width: 300px;
}